.ArticleListHome{
    border:solid 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.ArticleListHome .part-right{
    font-weight: bold;
    margin-left: 15px;
}