.Header{
    border: solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header .Navbar{
    margin-right: 5px;
}

.Header .bloc1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bloc1 .title{
    font-family: consolas;
    font-style: italic;
    margin-left: 50px;
}

.bloc1 .logo{
    margin-left: 15px;
    width: 95px;
    background: rgb(40, 32, 32);
}

